@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&family=Barlow+Semi+Condensed:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
  width: 100%;
}

main > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1,
main h2,
main h3 {
  color: hsl(210, 10%, 33%);
}

main p {
  margin: 20px 0 50px 0;
  width: 40%;
  text-align: center;
  color: hsl(201, 11%, 66%);
  line-height: 30px;
}
section.hero {
  padding-bottom: 120px;
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
}

section.hero .copyright {
  font-size: 10rem;
  color: hsl(171, 66%, 44%);
}

section.hero h1 {
  font-size: 2.5rem;
  color: hsl(210, 10%, 33%);
}
.button-group button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-family: "Bai Jamjuree", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: #fff;
}

.button-group button:hover {
  cursor: pointer;
}

.button-group .btn-ios {
  background-color: hsl(171, 66%, 44%);
}
.button-group .btn-mac {
  background-color: hsl(233, 100%, 69%);
}

section.keep-track {
  margin-bottom: 120px;
}

section.keep-track .description {
  display: flex;
  width: 100%;
}

section.keep-track .description p {
  text-align: left;
  width: 70%;
}

section.keep-track .description img {
  margin: 0 70px 0 -50px;
}

section.keep-track h1 {
  font-size: 2rem;
}

section.keep-track h2 {
  font-size: 1.3rem;
}

section.keep-track .options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.supercharge-workflow .list {
  display: flex;
  justify-content: space-around;
  width: 80%;
  text-align: center;
}
section.supercharge-workflow .list p {
  width: 100%;
}

section.supercharge-workflow .list > div {
  width: 45%;
}

section.supercharge-workflow h3 {
  margin: 20px 0;
}

div.companies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px 120px;
}

section.clipboard {
  padding-bottom: 120px;
}

footer {
  display: grid;
  grid-template-columns: 20% 50% 30%;
  background-color: #f5f6f8;
  padding: 50px 100px;
}

footer .logo-container {
  margin-top: -20px;
}
footer .logo-container h1 {
  color: hsl(171, 66%, 44%);
  font-weight: 400;
  font-size: 4rem;
}

footer .links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer .links li {
  margin-bottom: 15px;
}
footer .links a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

footer .links a:hover {
  color: hsl(171, 66%, 44%);
}

footer .links .contact-us {
  grid-column: 1/2;
  grid-row: 2/3;
  color: green;
}
footer .links .privacy-policy {
  grid-column: 2/3;
  grid-row: 1/2;
}
footer .links .press-kit {
  grid-column: 2/3;
  grid-row: 2/3;
}
footer .links .install-guide {
  grid-column: 3/4;
  grid-row: 1/2;
}

footer .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .social-media > div {
  margin-right: 20px;
}

footer .social-media i {
  color: hsl(210, 10%, 33%);
}
footer .social-media i:hover {
  cursor: pointer;
  color: hsl(171, 66%, 44%);
}

@media screen and (max-width: 767px) {
  section.hero {
    background-image: url("./images/bg-header-mobile.png");
  }
  section.hero h1 {
    text-align: center;
    width: 85%;
  }

  section.hero p {
    width: 90%;
  }

  .button-group > * {
    display: block;
    margin-bottom: 20px;
    width: 400px;
  }

  section.keep-track {
    margin: 0 auto;
  }

  section.keep-track h1 {
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }
  section.keep-track > p {
    width: 70%;
  }

  section.keep-track .description {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  section.keep-track .description p {
    text-align: center;
    width: 100%;
    padding: 10px 50px;
  }
  section.keep-track .description img {
    width: 400px;
    margin: 0 70px 0 50px;
  }

  section.keep-track .options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  section.access-clipboard h1 {
    width: 50%;
    text-align: center;
    text-transform: capitalize;
  }
  section.access-clipboard p {
    width: 100%;
    padding: 0 70px;
  }

  section.access-clipboard img {
    width: 400px;
  }

  section.supercharge-workflow > p {
    width: 100%;
    padding: 0 100px;
  }

  section.supercharge-workflow .list {
    display: flex;
    flex-direction: column;
  }
  section.supercharge-workflow .list p {
    width: 100%;
  }

  section.supercharge-workflow .list > div {
    width: 100%;
  }

  section.supercharge-workflow h3 {
    margin: 20px 0;
  }

  div.companies {
    display: flex;
    flex-direction: column;
  }

  div.companies > * {
    margin-bottom: 50px;
  }

  section.clipboard h1 {
    padding: 0 100px;
    text-align: center;
  }

  section.clipboard p {
    width: 100%;
    padding: 0 70px;
  }

  footer {
    display: flex;
    flex-direction: column;
  }

  footer .links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;
  }

  footer .logo-container h1 {
    text-align: center;
  }

  footer .social-media {
    display: flex;
    justify-content: space-around;
  }
  footer .social-media > div {
    margin-right: 0;
  }
}
